.details {
  padding: 1rem 2rem;
}

.title {
  font-family: "Beaufort-bold";
  font-size: 1.25rem;
  color: var(--text4);
  margin: 0 0 0.5rem;
  text-transform: uppercase;
}

.buildsFrom {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.itemFrom {
  cursor: pointer;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 1;
}

.close svg {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--text4);
  opacity: 0.6;
  transition: var(--transition);
  pointer-events: none;
}

.close:hover svg {
  fill: var(--text1);
  opacity: 1;
}

.show {
  display: block !important;
}

@media (max-width: 1400px) {
  .imgFrame {
    max-width: 40px;
  }
}
@media (max-width: 1000px) {
  .imgFrame {
    max-width: 32px;
  }
}
@media (max-width: 600px) {
  .title,
  .buildsFrom {
    display: none;
  }
}
