.gridFrame {
  min-height: 100vh;
  padding: 2rem 1rem 22rem;
}

.groupTitle {
  font-family: "Beaufort-bold";
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  color: var(--text6);
  margin: 0 0.75rem;
}
.groupSubtitle {
  margin: 0 0.75rem;
  color: var(--text4);
  font-size: 0.875rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.25rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin-bottom: 2.5rem;
}

@media (max-width: 1400px) {
  .grid {
    grid-template-columns: repeat(14, 1fr);
  }
}
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(10, 1fr);
  }
}
@media (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.gridItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
  padding-bottom: 0.25rem;
  cursor: pointer;
}
.gridItem * {
  pointer-events: none;
}
.gridItem > * {
  position: relative;
}
.gridItem .imgFrame,
.gridItem .imgFrame img {
  width: 100%;
}
.gridItem:hover {
  filter: brightness(1.5);
  background: linear-gradient(to top, var(--accent3), var(--accent2));
  transition: var(--transition);
}
.gridItem:hover .imgFrame {
  border: 1px solid var(--text1);
}

.gridItem.selected {
  filter: brightness(1.5);
  background: transparent;
}
.gridItem.selected::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: var(--transition);
}
.gridItem.selected::before {
  background: linear-gradient(to bottom, var(--blue), transparent 80%);
  box-shadow: inset 0 0 0 1px var(--blue), inset 0 0 0 4px var(--surface1);
  opacity: 0.4;
}
.gridItem.selected .imgFrame {
  border: 1px solid var(--blue);
}

.price {
  font-family: "Beaufort-bold";
  font-size: 1.125rem;
  margin: 0;
  color: var(--text2);
}

.patchChange {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}
.patchChange svg {
  display: block;
  width: 1.75rem;
  height: 1.75rem;
}
.patchChange.change svg {
  fill: var(--change);
  filter: drop-shadow(0px 2px 12px var(--change));
}
.patchChange path,
.patchChange rect {
  stroke: var(--surface1);
  stroke-width: 4px;
}
.patchChange.buff svg {
  fill: var(--buff);
  filter: drop-shadow(0px 2px 12px var(--buff));
}
.patchChange.new svg {
  fill: var(--new);
  filter: drop-shadow(0px 2px 12px var(--new));
}
.patchChange.nerf svg {
  fill: var(--nerf);
  filter: drop-shadow(0px 2px 12px var(--nerf));
}

@media (max-width: 1600px) {
  .gridItem {
    padding: 0.5rem;
  }
}

@media (max-width: 600px) {
  .gridFrame {
    padding: 1.5rem 0.5rem 15rem;
  }
}
