.container {
  position: fixed;
  bottom: 0;
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  padding: 1.5rem;
  padding-top: 1.25rem;
  background: var(--surface2);
  left: 50%;
  transform: translateX(-70%);
  border: 1px solid var(--accent2);
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 2;
  box-shadow: 0 0px 7px rgba(0, 0, 0, 0.2), 0 0px 16px rgba(0, 0, 0, 0.3),
    0 0px 30px rgba(0, 0, 0, 0.4), 0 0px 54px rgba(0, 0, 0, 0.4),
    0 0px 100px rgba(0, 0, 0, 0.5), 0 0px 240px rgba(0, 0, 0, 0.7),
    0 80px 10px black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.25rem;
  font-family: 'Beaufort-bold';
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.cost,
.share {
  margin: 0;
  text-transform: uppercase;
  line-height: 1;
}
.cost {
  display: flex;
  align-items: center;
  letter-spacing: 0.05rem;
  color: var(--text2);
}
.cost svg {
  margin-right: 0.25rem;
}
.share {
  color: var(--text4);
  cursor: pointer;
}
.share.copied {
  color: var(--health);
}

.itemList {
  display: flex;
  gap: 0.75rem;
}

.championFrame {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background: var(--surface1);
}

.imgFrame {
  cursor: pointer;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.itemFrame {
  cursor: pointer;
  animation-duration: 0.35s;
  animation-name: enter;
}

.textarea {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
}

@media (max-width: 1600px) {
  .container {
    transform: translateX(-95%);
  }
}
@media (max-width: 1400px) {
  .container {
    transform: translateX(-50%);
  }
  .imgFrame {
    max-width: 50px;
  }
}
@media (max-width: 1000px) {
  .container {
    padding: 1rem;
  }
  .itemList {
    gap: 0.5rem;
  }

  .imgFrame {
    max-width: 36px;
  }
}
