.sidebarHeader {
  position: relative;
  padding-top: 5rem;
}
.sidebarHeader > * {
  position: relative;
}
.sidebarHeader::before {
  content: '';
  position: absolute;
  inset: 0 0 -6.5rem -2rem;
  background: url(/season-2024-splash.webp) no-repeat center;
  background-size: cover;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 20%,
    transparent
  );
  opacity: 0.75;
}

.patchTitle {
  font-family: 'Beaufort-bold';
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0;
}
.patchTitle span {
  /* display: block; */
  line-height: 1;
  text-shadow: 0px 2px 5px black;
}
.patchTitle span:nth-of-type(1) {
  color: var(--text6);
  font-size: 1.5rem;
  line-height: 1.5;
}
/* .patchTitle span:nth-of-type(2) {
  color: var(--text6);
  font-size: 1.5rem;
  line-height: 1.5;
} */

.group {
  padding: 0.5rem 0;
}
.group:not(:last-of-type) {
  border-bottom: 1px solid var(--accent1);
}

.statItem {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.375rem 0;
  letter-spacing: 0.025rem;
  font-size: 0.875rem;
  color: var(--text5);
  cursor: pointer;
  user-select: none;
  transition: color var(--transition);
}
.statItem > * {
  position: relative;
}
.statItem::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, transparent 25%, var(--blue));
  transition: opacity var(--transition);
}
.statItem:hover {
  color: var(--text1);
}
.statItem.active {
  color: var(--text1);
  box-shadow: inset -4px 0 0 0 var(--blue);
}
.statItem.active::before {
  opacity: 0.35;
}
.statItem.active::after {
  opacity: 1;
}
.statIcon {
  display: block;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  transform: translateY(2px);
}

.close {
  font-size: 1rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0.6;
}

.tooltip {
  background: var(--surface1);
  padding: 0.5rem 1rem;
  border: 1px solid var(--accent1);
}

.twitter {
  display: block;
  padding-top: 2rem;
  font-size: 0.875rem;
  color: var(--text4);
  padding-inline-start: 0.25rem;
}
.twitter:hover {
  text-decoration: underline;
}

@media (max-width: 1600px) {
  .patchTitle {
    display: none;
  }
  .statItem {
    padding: 0.5rem;
  }
  .statIcon {
    margin: 0;
    transform: translateY(0);
  }
  .statItem span,
  .twitter {
    display: none;
  }
  .close {
    display: none;
  }
}

@media (max-width: 1000px) {
  .statItem.active {
    box-shadow: inset -2px 0 0 0 var(--blue);
  }
}

@media (max-width: 600px) {
  .statItem {
    padding: 0.375rem 0.5rem;
  }
  .statIcon {
    font-size: 1.25rem;
  }
}
