.filters {
  padding: 0 0.75rem;
  border-right: 1px solid var(--accent1);
}

.group {
  padding: 0.75rem 0;
  margin: 0.75rem 0;
}
.group:not(:last-of-type) {
  border-bottom: 1px solid black;
}

.statItem {
  display: flex;
  align-items: center;
  height: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 0.875rem;
}
