.disclaimer {
  position: relative;
  display: grid;
  padding: 1rem 2rem;
  padding-top: var(--page-top-padding);
  color: var(--text6);
  text-shadow: 0 3px 8px black, 0 5px 20px black;
}
/* .disclaimer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(/db6b5cedf41ee7eef06240ef82821e3373a0f369-1920x1080.jpg)
    no-repeat center;
  background-size: cover;
  mask-image: linear-gradient(to bottom, black, transparent);
  opacity: 0.5;
} */
.disclaimer > * {
  position: relative;
}
.disclaimer h1 {
  font-family: "Beaufort-bold";
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.1rem;
  margin: 0;
  padding-block-end: 0.5rem;
  font-size: 1.5rem;
}
.disclaimer span {
  display: block;
  font-size: 0.875rem;
  font-weight: 600;
  /* color: var(--text5); */
}

.disclaimer video {
  position: absolute;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  translate: 0% -20%;
  mask-image: linear-gradient(to bottom, black, transparent);
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .disclaimer {
    padding: 0.5rem;
    text-align: center;
  }
  .disclaimer span {
    display: none;
  }
}
