.disclaimer {
  position: relative;
  display: grid;
  padding: 1rem 2rem;
  padding-top: var(--page-top-padding);
  color: var(--text6);
}
.disclaimer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(/season-2025-splash-lg.webp) no-repeat center;
  background-size: cover;
  mask-image: linear-gradient(to bottom, black, transparent);
  opacity: 0.5;
}
.disclaimer > * {
  position: relative;
}
.disclaimer h1 {
  font-family: "Beaufort-bold";
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.1rem;
  margin: 0;
  padding-block-end: 0.5rem;
  font-size: 1.5rem;
}
.disclaimer span {
  display: block;
  font-size: 0.875rem;
  color: var(--text5);
}

@media screen and (max-width: 600px) {
  .disclaimer {
    padding: 0.5rem;
    text-align: center;
  }
  .disclaimer span {
    display: none;
  }
}
