.disclaimer {
  position: relative;
  display: grid;
  padding: 1rem 2rem;
  color: var(--text6);
}
.disclaimer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(/season-2025-splash-lg.webp) no-repeat center;
  background-size: cover;
  -webkit-mask-image: linear-gradient(to bottom, black, transparent);
  opacity: 0.25;
}
.disclaimer > * {
  position: relative;
}
.disclaimer h1 {
  font-family: "Beaufort-bold";
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 0.1rem;
  margin: 0;
  font-size: 1.25rem;
}
.disclaimer span {
  display: block;
  font-size: 0.875rem;
  color: var(--text5);
}
