.details {
  position: relative;
}

.patchChange {
  margin-bottom: 1rem;
}

.row {
  display: flex;
  justify-content: center;
}
.itemCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 0 0.25rem;
}

.multi {
  position: relative;
  padding-top: 1rem;
}
.multi::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 1rem;
  top: 0;
  left: 50%;
  background: var(--accent2);
}

.multi > *,
.single > * {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.multi > *::before,
.single > *::before {
  content: "";
  width: 1px;
  height: 1rem;
  background: var(--accent2);
}

.multi > .itemCol::after {
  content: "";
  position: absolute;
  top: 0;
  height: 1px;
  background: var(--accent2);
}
.multi > .itemCol:first-child::after {
  left: 50%;
  width: 50%;
}
.multi > .itemCol:nth-child(2)::after {
  left: 0;
  width: 100%;
}
.multi > .itemCol:nth-child(3)::after {
  left: 0;
  width: 100%;
}
.multi > .itemCol:nth-child(4)::after {
  left: 0;
  width: 100%;
}
.multi > .itemCol:last-child::after {
  left: 0;
  width: 50%;
}

.treeFrame {
  min-height: 15rem;
}

.header {
  padding: 0.5rem 0;
  border-top: 1px solid var(--accent2);
  border-bottom: 1px solid var(--accent2);
}
.name {
  font-family: "Beaufort-bold";
  font-size: 1.5rem;
  margin: 0;
  color: var(--text1);
}
.priceContainer {
  display: flex;
  align-items: baseline;
  gap: 1ch;
  margin: 0;
}
.price {
  font-family: "Beaufort-bold";
  font-size: 1.25rem;
  color: var(--text2);
}
.priceEfficiency {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text4);
}
.description {
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin: 0;
  scrollbar-width: thin;
}

.imgFrame {
  cursor: pointer;
}

@media (max-width: 1400px) {
  .treeFrame {
    min-height: 13rem;
  }
  .name {
    font-size: 1.25rem;
  }
  .description {
    font-size: 0.825rem;
    max-height: 18rem;
    overflow-y: scroll;
    margin-bottom: 0;
    mask-image: linear-gradient(
      to top,
      transparent,
      black 10%,
      black 95%,
      transparent 100%
    );
  }
  .imgFrame {
    max-width: 52px;
  }
}

@media (max-width: 800px) {
  .treeFrame {
    min-height: 12rem;
  }
  .name {
    font-size: 1rem;
  }
  .description {
    font-size: 0.75rem;
    max-height: 20rem;
  }
  .imgFrame {
    max-width: 40px;
  }
}

@media (max-width: 600px) {
  .description {
    font-size: 1rem;
    max-height: 20rem;
  }
}
