:root {
  --surface1: hsl(212deg 100% 4%);

  --text1: hsl(0deg 0% 100%);
  --text2: hsl(39deg 55% 59%);
  --text3: hsl(213deg 5% 38%);
  --text4: hsl(0deg 0% 60%);
  --text5: #cebe94;
  --text6: #fffddd;

  --accent1: hsl(0deg 0% 100% / 20%);
  --accent2: hsl(213deg 5% 38% / 35%);
  --accent3: hsl(213deg 5% 38% / 5%);

  --blue: #31d7de;
  --gold: #ffc554;
  --gold-gradient: linear-gradient(
    90deg,
    #f3bb50 0%,
    #ffea6a 50%,
    #ffc554 100%
  );

  --controls-height: 4rem;

  --transition: 0.2s ease;
}

html {
  background: var(--surface1);
  color: var(--text1);
}

@font-face {
  font-family: 'Beaufort-bold';
  src: url('https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Bold.woff');
  font-weight: 700;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Beaufort-Regular';
  src: url('https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Regular.woff');
  font-weight: 400;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Spiegel-bold';
  src: url('https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/Spiegel-Bold.woff');
  font-weight: 700;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Spiegel-Regular';
  src: url('https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/Spiegel-Regular.woff');
  font-weight: 400;
  font-display: auto;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-size: 1em;
  line-height: 1.5;
  font-family: 'Spiegel-Regular';
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}
