:root {
  --container: 1600px;
  --leftCol: 0.6;
  --centerCol: 2;
  --rightCol: 1;

  --surface1: hsl(212deg 100% 4%);
  --surface2: hsl(212deg 100% 1%);
  --modal-overlay: hsla(212deg 100% 4% / 0.8);

  --text1: hsl(0deg 0% 100%);
  --text2: hsl(39deg 55% 59%);
  --text3: hsl(213deg 5% 38%);
  --text4: hsl(0deg 0% 60%);
  --text5: #cebe94;
  --text6: #fffddd;

  --accent1: hsl(0deg 0% 100% / 20%);
  --accent2: hsl(213deg 5% 38% / 35%);
  --accent3: hsl(213deg 5% 38% / 5%);

  --blue: #31d7de;
  --gold: #ffc554;
  --gold-gradient: linear-gradient(
    90deg,
    #f3bb50 0%,
    #ffea6a 50%,
    #ffc554 100%
  );
  --orange1: #feb131;
  --orange2: #915917;

  --ap: #7b6dff;
  --ad: #af4f23;
  --as: #f9e18c;
  --health: #21975b;
  --mana: #49c8ff;
  --ms: #f0e5d2;
  --shield: white;
  --immolate: #e63710;

  --buff: #74f20e;
  --nerf: #fa134a;
  --change: #18d5ff;
  --new: #ffc333;

  --controls-height: 4rem;

  --transition: 0.2s ease;
}

html {
  background: var(--surface1);
  color: var(--text1);
}

@font-face {
  font-family: 'Beaufort-bold';
  src: url('https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Bold.woff')
    format('woff');
  font-display: swap;
  font-weight: 700;
  font-display: auto;
  font-style: normal;
}

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 1em;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@media (max-width: 1400px) {
  /* html,
  body {
    overflow-x: hidden;
  } */
}

input,
button {
  all: unset;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
  width: 1em;
  height: 1em;
}

* {
  box-sizing: border-box;
}

maintext {
  color: var(--text4);
}
stats {
  display: block;
  margin-bottom: 0.075rem;
}
attention,
active,
passive,
immolate,
ornnBonus {
  font-weight: 700;
  color: var(--text1);
}
immolate {
  color: var(--immolate);
}
magicDamage,
scaleMR {
  color: var(--ap);
}
scaleArmor,
physicalDamage {
  color: var(--ad);
}
speed {
  color: var(--ms);
}
shield,
truedamage {
  color: var(--shield);
}
attackSpeed {
  color: var(--as);
}
scaleMana {
  color: var(--mana);
}
healing,
scalehealth {
  color: var(--health);
}
rarityMythic {
  color: var(--text2);
  font-weight: 700;
}
li {
  list-style: none;
  margin: 0.5rem 0;
}
rules {
  color: var(--text3);
}

audio {
  display: none;
}

.scroll::-webkit-scrollbar-track {
  background: transparent;
}
.scroll::-webkit-scrollbar-thumb {
  background: var(--text2);
  border: 2px solid var(--surface1);
  border-radius: 10px;
}
.scroll::-webkit-scrollbar {
  width: 10px;
}

@media (max-width: 1200px) {
  .tippy-popper {
    display: none !important;
  }
}

.item-change-modal {
  max-width: 90ch;
  background: var(--surface1);
  padding: 3rem;
  border: 1px solid var(--orange2);
}
.item-change-modal .reference-link,
.change-detail-title img {
  display: block;
  float: left;
  width: 3rem;
  margin-right: 1rem;
  border: 2px solid var(--surface1);
  box-shadow: 0 0 0 1px var(--orange2);
}
.item-change-modal .reference-link img {
  display: block;
}
.item-change-modal .change-title {
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  font-size: 1.75rem;
}
.item-change-modal .change-title + br {
  display: none;
}
.item-change-modal .blockquote.context {
  position: relative;
  color: var(--text4);
  border-bottom: 1px solid var(--accent2);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
}
.item-change-modal .blockquote.context::before,
.item-change-modal .blockquote.context::after {
  position: absolute;
  font-size: 3rem;
  opacity: 0.3;
}
.item-change-modal .blockquote.context::before {
  content: '\201C';
  transform: translate(-2rem, -1.5rem);
}
.item-change-modal .blockquote.context::after {
  content: '\201D';
  transform: translate(1rem, -0.5rem);
}
.item-change-modal .attribute-change {
  margin-top: 0.5rem;
  font-size: 1.125rem;
}
.item-change-modal .attribute-change:not(:last-of-type) {
  margin-bottom: 1.25rem;
}
.attribute {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: 0.875rem;
  color: var(--text4);
  letter-spacing: 1px;
}
.item-change-modal .attribute::after {
  content: ': ';
}
.item-change-modal .change-indicator {
  color: var(--orange2);
  margin: 0 0.25rem;
}
.item-change-modal .attribute-after,
.item-change-modal .attribute-removed {
  color: var(--text5);
}
.item-change-modal .change-detail-title {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 2rem 0 1rem 0;
  font-size: 1rem;
}
.item-change-modal .divider {
  border: none;
  border-bottom: 1px solid var(--accent2);
}
.attribute > * {
  --att-color: var(--text2);
  display: inline-block;
  position: relative;
  padding: 2px 6px 3px;
  margin: 0;
  margin-right: 1ch;
  font-weight: 700;
  color: var(--att-color);
  text-transform: uppercase;
  letter-spacing: 0;
}
.attribute > *::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--att-color);
  border-radius: 3px;
  opacity: 0.2;
  transition: 0.2s ease-in-out;
}
.attribute:hover > *::before {
  opacity: 0.3;
}
.attribute .updated {
  --att-color: var(--ap);
}
.attribute .removed {
  --att-color: var(--immolate);
}
.attribute .nerf {
  --att-color: var(--immolate);
}
.attribute .buff {
  --att-color: var(--buff);
}
.attribute .change {
  --att-color: var(--ap);
}
.attribute .new {
  --att-color: var(--new);
}

span.attribute-before {
  color: var(--text3);
}
