.container {
  max-width: 1800px;
  margin: 0 auto;
}

.main {
  display: flex;
  justify-content: space-between;
}

.left {
  flex: 3;
}

.leftPanels {
  display: flex;
  flex: 3;
}

.filters {
  flex: 1;
}

.grid {
  flex: 3;
}

.details {
  flex: 1;
}
